.ellipsis {
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
    max-width:0;
}

a:link {  text-decoration:none;  color:#333333; }
a:hover {  text-decoration:none;  color:#0000FF; font-weight:bold; }
a:visited {  text-decoration:none;  color:#333333; }
a > .material-icons { font-size:14px; }

.btnBottom{ vertical-align:text-bottom; }
.icon{ vertical-align:text-bottom; }
.colLine { 
    line-height:180%; 
    min-height:30px; 
    border-bottom:1px dotted #DDDDDD; 
    padding-top:4px; 
    padding-bottom:4px;
}